{% extends 'main/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<h1>{% if form.instance.pk %}Редактировать{% else %}Добавить{% endif %} Клиента</h1>
<form method="post">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>

<script src="{% static 'js/phone_number.js' %}"></script>
{% endblock %}
