{% extends 'main/base.html' %}

{% block content %}
<h1>Добавить Клиента</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
    </div>
    <div class="mb-3">
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
    </div>
    <div class="mb-3">
        {{ form.middle_name.label_tag }}
        {{ form.middle_name }}
    </div>
    <div class="mb-3">
        {{ form.phone_number.label_tag }}
        {{ form.phone_number }}
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}
