{% extends 'main/base.html' %}

{% block content %}
<h1>Автомобили</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Гос номер</th>
            <th>ВИН номер</th>
            <th>Марка</th>
            <th>Модель</th>
            <th>Год выпуска</th>
            <th>Владелец</th>
        </tr>
    </thead>
    <tbody>
        {% for car in cars %}
        <tr>
            <td>{{ car.license_plate }}</td>
            <td>{{ car.vin_number }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.year_of_production }}</td>
            <td>{{ car.client.last_name }} {{ car.client.first_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}