{% extends 'main/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<h1>Автомобили</h1>
<form method="get" action="{% url 'car_list' %}" class="mb-3">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Поиск..." value="{{ query|default:'' }}">
        <button class="btn btn-primary" type="submit">Поиск</button>
    </div>
</form>
<a href="{% url 'car_create' %}" class="btn btn-success mb-3">Добавить Автомобиль</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Марка</th>
            <th>Модель</th>
            <th>Гос номер</th>
            <th>ВИН номер</th>
            <th>Год выпуска</th>
            <th>Владелец</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for car in page_obj %}
        <tr>
            <td>{{ car.brand }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.gos_num }}</td>
            <td>{{ car.vin_number }}</td>
            <td>{{ car.year_of_production }}</td>
            <td>
                <a href="{% url 'client_detail' car.client.pk %}" class="btn btn-link btn-sm">{{ car.client.last_name }} {{ car.client.first_name }}</a>
            </td>
            <td>
                <a href="{% url 'car_edit' car.pk %}" class="btn btn-primary btn-sm">Редактировать</a>
                <a href="{% url 'car_delete' car.pk %}" class="btn btn-danger btn-sm">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% bootstrap_pagination page_obj %}
{% endblock %}
