body {
    background-color: #343a40;
    color: #ffffff;
}

.navbar {
    background-color: #212529;
}

.sidebar {
    background-color: #495057;
    padding-top: 15px;
    min-height: 100vh;
}

.sidebar h2 {
    color: #ffffff;
}

.sidebar .nav-link {
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.sidebar .nav-link:hover {
    background-color: #007bff; /* Голубой фон при наведении */
    color: #ffffff;  /* Белый текст при наведении */
    transform: scale(1.05); /* Увеличение элемента */
}

.content {
    background-color: #3e444a;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.form-control-half {
    width: 50%;
}