/* Основные стили */
body {
    background-color: #343a40;
    color: #ffffff;
}

.navbar {
    background-color: #212529;
}

.sidebar {
    background-color: #495057;
    padding-top: 15px;
    min-height: 100vh;
}

.sidebar h2 {
    color: #ffffff;
}

.sidebar .nav-link {
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 10px; /* Отступ между элементами меню */
    padding: 10px 15px; /* Увеличение отступов внутри элементов */
    border-radius: 5px; /* Закругленные углы */
    background-color: #6c757d; /* Фоновый цвет элементов меню */
}

.sidebar .nav-link:hover {
    background-color: #007bff; /* Голубой фон при наведении */
    color: #ffffff;  /* Белый текст при наведении */
    transform: scale(1.05); /* Увеличение элемента */
}

.content {
    background-color: #3e444a;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

/* Стили кнопок */
.btn-success {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.btn-success:hover {
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
}

.btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.btn-primary:hover {
    background-color: #0056b3 !important;
    border-color: #004085 !important;
}

.btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.btn-danger:hover {
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}

.btn-secondary {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.btn-secondary:hover {
    background-color: #565e64 !important;
    border-color: #545b62 !important;
}

.form-control-half {
    width: 50%;
}

/* Стили вкладок */
.tab-container {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-tabs .nav-link {
    border: 1px solid #dee2e6;  /* Рамка вкладки */
    border-radius: 0.25rem;
    margin-bottom: -1px;
    color: #f8f9fa;  /* Цвет текста вкладки */
    background-color: #6c757d;  /* Цвет фона вкладки */
}

.nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
    background-color: #5a6268;  /* Цвет фона при наведении */
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

/* Чередование цветов столбцов */
table.table-striped td:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}
table.table-striped td:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}